@mixin item-margin-top() {
    margin-top: 35px;

    @media screen and (max-width: $md1 + px) and (min-width: $md2 + 1 + px) {
        margin-top: 16px;
    }

    @include responsive-value('margin-top', 23, 15, $md3);
}

.content {
    &__breadcrumbs {
        margin-bottom: 50px;

        @include responsive-value('margin-bottom', 40, 20, $md3);
    }

    &__news {
        & > *:not(:first-child) {
            margin-top: 75px;
            @include responsive-value('margin-top', 75, 30, $md3);
        }
    }

    &__news-pagination {
        margin-top: 40px;
        @include responsive-value('margin-top', 40, 30, $md3);
    }

    &__info-block {
        position: relative;
        padding: 120px 100px 150px 50px;
        color: $cBlueGrey;
        font-size: 16px;
        line-height: 23px;
        background: #fff;

        &:not(:first-child) {
            margin-top: 75px;
            @include responsive-value('margin-top', 75, 30, $md3);
        }

        @media screen and (max-width: $md1 + px) and (min-width: $md2 + 1 + px) {
            padding: 80px 60px 100px 40px;
        }
        @include responsive-value('padding-top', 120, 60, $md3);
        @include responsive-value('padding-right', 100, 18, $md3);
        @include responsive-value('padding-bottom', 150, 80, $md3);
        @include responsive-value('padding-left', 50, 20, $md3);

        @include responsive-value('font-size', 16, 14, $md3);
        @include responsive-value('line-height', 23, 20, $md3);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #562212;
            font-size: 22px;
            line-height: 31px;

            @include responsive-value('font-size', 22, 16, $md3);
            @include responsive-value('line-height', 31, 20, $md3);

            &:not(:first-child) {
                @include item-margin-top();
            }
        }

        p {
            @include item-margin-top();
        }

        strong {
            font-weight: bold;
        }

        em {
            font-style: italic;
        }

        s {
            text-decoration: line-through;
        }

        img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }

        figure.wp-block-image {
            @include item-margin-top();

            img {
            }
        }

        figure.wp-block-table {
            @include item-margin-top();

            overflow-x: auto;

            table {
                width: 100%;
                border-collapse: collapse;
                border-spacing: 0;
            }

            tbody {
            }

            tr {
            }

            td,
            th {
                padding: 8px;
                vertical-align: middle;
                border: 1px solid $cBlueGrey;
            }
        }

        figure.wp-block-table.is-style-stripes {
            table {
            }

            tbody {
            }

            tr {
            }

            td,
            th {
                border: 0;
            }
        }

        figcaption {
            text-align: center;
        }
    }

    &__date {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 104px;
        height: 45px;
        color: #fff;
        font-size: 14px;
        background: $cLightBrown;

        @include responsive-value('height', 45, 35, $md3);
        @include responsive-value('width', 104, 80, $md3);
        @include responsive-value('font-size', 14, 12, $md3);
    }

    &__title {
        color: #562212;
        font-size: 22px;
        line-height: 31px;

        @include responsive-value('font-size', 22, 16, $md3);
        @include responsive-value('line-height', 31, 20, $md3);
    }

    ul,
    ol {
        @include item-margin-top();

        padding-left: 10px;
    }

    ul {
        list-style-type: disc;
        li {
        }
    }

    ol {
        list-style-type: decimal;
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol {
        margin-top: 0;
        padding-left: 20px;
    }
}
