.footer {
    background: #fff;

    &__container {
        display: flex;
        align-items: center;
        min-height: 215px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__list {
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        color: $cBlueGrey;
        font-size: 17px;
        line-height: 23px;

        @include responsive-value('font-size', 17, 14, $md1);
        @include responsive-value('line-height', 23, 18, $md1);
    }

    &__link {
        &:hover {
            text-decoration: underline;
        }
    }
}
