.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media screen and (max-width: $md2 + px) {
        @include responsive-value('padding-top', 120, 70, $md2);
    }

    &_locked {
        @media screen and (max-width: $md2 + px) {
            overflow: hidden;
        }
    }

    &__header {
        @media screen and (max-width: $md2 + px) {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 20;
            transition: top 0.3s ease;
        }
    }

    &__body {
        flex: 1;
        background: $cGrey;
    }

    &__hero {
    }

    &__container {
        display: flex;
        padding-top: 90px;
        padding-bottom: 47px;

        @include responsive-value('padding-top', 40, 20, $md3);
        @include responsive-value('padding-bottom', 47, 30, $md3);
    }

    &__sidebar {
        flex: 0 0 $sidebarWidth + px;
        margin-right: 50px;

        @media screen and (max-width: $md2 + px) {
            display: none;
        }
    }

    &__content {
        flex: 1 1 auto;
        overflow-x: auto;
    }

    &__footer {
    }
}
