.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &__header {
    }

    &__body {
        flex: 1;
        background: $cGrey;
    }

    &__sidebar {
    }

    &__content {
    }

    &__footer {
    }
}
