.pagination-news {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        &_type {
            &_nav {
            }
            &_dots {
            }
        }

        &_active {
        }
    }

    &__link,
    &__dots {
        display: block;
        min-width: 42px;
        color: #fff;
        font-size: 14px;
        line-height: 42px;
        text-align: center;
        text-decoration: none;
        border: none;
    }

    &__link {
        font-weight: 500;
        background: #562212;
        transition: all 0.3s ease;

        &:hover {
            background: #381207;
        }
    }

    &__item_active &__link {
        background: #381207;
    }

    &__dots {
        background: #381207;
    }
}
