.search {
    position: relative;
    @media screen and (min-width: $md1 + 1 + px) {
        width: 100%;
    }

    &__input {
        width: 100%;
        height: 50px;
        padding: 0 75px 0 30px;
        background: transparent;
        border: 2px solid $cGrey;
        border-radius: 3px;
    }
    &__input,
    &__input::placeholder {
        color: $cBlueGrey;
        font-size: 16px;
        line-height: 21px;
    }

    &__button {
        position: absolute;
        top: 50%;
        right: 0;
        height: 30px;
        padding: 0 18px;
        color: #c9d8eb;
        font-size: 20px;
        background: none;
        border: none;
        border-left: 2px solid $cGrey;
        transform: translate3d(0, -50%, 0);
    }
}
