// Null standart browser style
@import '_null';

// SCSS Variables
@import '_vars';

// SCSS Mixins
@import '_mixins';

// Fonts configuration
@import '_fonts';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: 'Geometria', sans-serif;
}

._container {
    max-width: $maxContainerWidth + px;
    margin: 0 auto;
    padding: 0 $mobileContainerPadding + px;
}

._link {
    color: inherit;
    text-decoration: none;
}

@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/top-bar';
@import 'blocks/menu.scss';
@import 'blocks/search';
@import 'blocks/hero';
@import 'blocks/sidebar';
@import 'blocks/content';
@import 'blocks/footer';
